.secondPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 345px;
    height: 450px;
    margin-top: 0.3rem;
}

.heading {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.chartContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
